monitoring/prometheus-*/prometheus filter=lfs diff=lfs merge=lfs -text
monitoring/prometheus-*/promtool filter=lfs diff=lfs merge=lfs -text
monitoring/node_exporter-*/node_exporter filter=lfs diff=lfs merge=lfs -text
